
<!-- <ion-card>

  <ion-card-header>
    <ion-card-subtitle>
      Slide Demo 1:Sapce between + slide perview = 1.3
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-slides pager="true" [options]="slideOpts1" color="danger">
      <ion-slide color = "primary" style="background-color:rgb(220, 186, 186);"> 
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide color = "secondary" style="background-color:rgb(150, 150, 182);">
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide color = "tretiary" style="background-color:rgb(110, 142, 110);">
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
 
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Slide Demo 2:Sapce between + slide perview = 1.3
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-slides pager="true" [options]="slideOpts2" color="warning">
      <ion-slide color = "primary" style="background-color:rgb(91, 187, 126);"> 
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide color = "secondary" style="background-color:rgb(181, 94, 177);">
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide color = "tretiary" style="background-color:rgb(109, 125, 61);">
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>


    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    
  </ion-card-content>
 
</ion-card> -->



<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      Slide Demo 3:Custom Pagination
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    
    <ion-slides pager="true" [options]="slideOpts3" >

        <ion-slide color = "primary" style="background-color:rgb(91, 187, 126);"> 
          <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide color = "secondary" style="background-color:rgb(181, 94, 177);">
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide color = "tretiary" style="background-color:rgb(109, 125, 61);">
          <h1>Slide 3</h1>
        </ion-slide>
        <ion-slide color = "tretiary" style="background-color:rgb(209, 108, 40);">
          <h1>Slide 3</h1>
        </ion-slide>
        <ion-slide color = "tretiary" style="background-color:rgb(61, 116, 125);">
          <h1>Slide 3</h1>
        </ion-slide>
   
    </ion-slides>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    
  </ion-card-content>
 
</ion-card>