<ion-header>
  <ion-toolbar color = primary>
       
    <ion-title> قائمة الاصناف</ion-title>

    <ion-buttons>
      <ion-menu-button menu = "main_menu" >
        <ion-icon name = "funnel-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot= "end">
      <ion-button slot="start"   routerLink="product-details/-1">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>


</ion-header>

<!-- Filter menu -->
<ion-menu side="start" menuId="main_menu" contentId="main" auto (click) = "menuClick()">
  <ion-header>
    <ion-toolbar color="">
      <ion-title>الاقسام</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list *ngFor="let p of parentCat" lines = "none"  button>
      <ion-item-divider  detail lines="none" color="light">
        <ion-label color = "primary">{{p.name}}</ion-label>
      </ion-item-divider>
      
      <ion-list lines="none" *ngFor="let m of masterData.selectMainCat(p.key)">
        <ion-item-divider button detail lines="none" color="light">
          <ion-label  >{{m.name}}</ion-label>
          <ion-button  slot = "end" fill = "clear" 
                        (click) = "productService.filterByMainCat(m.key,p.key)" 
                        color = "medium">
                        عرض الكل
          </ion-button>
        </ion-item-divider>
        <ion-item *ngFor="let s of masterData.selectSubCat(m.key)" 
                  class = "menu-item" button 
                  (click) = "productService.filterBySubCat(s.key,m.key, p.key)" 
                   detail>
          {{s.name}}
        </ion-item>
      </ion-list>
    </ion-list> 

  </ion-content>
</ion-menu>
<!-- End filter menu -->

<ion-content *ngIf="true" id="main">

   <!-- filter card -->
   <ion-card class = "filter-card" *ngIf="productFilter.length>0" color = 'light'>
     <ion-card-content>
       <ion-chip class="filter-chip" *ngFor="let filter of productFilter" color = "secondary" fill="outline">
         <ion-label>{{filter.name}}</ion-label> 
         <ion-icon name="close-circle-outline" (click) = "removeFilter(filter)"></ion-icon>
      </ion-chip>
     </ion-card-content>
   </ion-card>
   <!-- End card filter -->

   <!-- Product List -->
   <ion-list *ngIf="productList.length>0">
     <ion-list-header>
      <ion-label>قائمة الاصناف</ion-label>
      <ion-chip color="primary" fill="full"><ion-label>{{productList.length}}</ion-label></ion-chip>
     </ion-list-header>
     <ion-item  detail button
                *ngFor="let product of productList"
                routerLink="product-details/{{product.id}}"  
                >
       <ion-label class='item-big-size'>
         <h2>
          {{product.name}}
         </h2> 
         <p> 
           <ion-label></ion-label>
           <ion-text>
             {{product.desc}} 
           </ion-text>
        </p> 

        <p> 
          السعر:
          <ion-text color="dark" class="item-big-size">
    
             {{product.price | currency:" "}}
             <ion-text color="medium">ج.م</ion-text> 
            
          </ion-text>
        </p> 
        <p> 
          الكود:
          <ion-text color="dark" >
            {{product.code}}
          </ion-text>
        </p> 

        <p> 
          تاريخ اضافة:
          <ion-text color="dark" >
            {{product.createdAt.seconds * 1000  | date:"short"}}
          </ion-text>
        </p> 


       </ion-label>
       

       <ion-avatar slot="start">
        <ion-img src="{{product.imgs[0]}}"> </ion-img>
      </ion-avatar>

     </ion-item> 

   </ion-list>
   <!-- End Product List -->

   <!-- search return no data card -->
     <ion-card  *ngIf="productList.length===0 && dataLoaded" color = 'light'>
      <ion-card-content>
        <ion-label>لا توجد اصناف  لهذة التصفية</ion-label>
      </ion-card-content>
    </ion-card>
    <!-- End of search return no data card  -->
   
</ion-content>
