.menu-item{
    font-size: 14px !important;
}

.filter-card{
    position:sticky;
    padding: 1px 1px !important;
    margin: 0px 0px !important;
}

ion-avatar {
    margin-top: 5px !important;
    width:60px !important;
    height:60px !important;
}

.item-big-size{
    h2 {
        color: var(--ion-color-dark);
        font-weight: 700;
    }
    
}