.menu-item{
    font-size: 14px !important;
}

.filter-card{
    position:sticky;
    padding: 1px 1px !important;
    margin: 0px 0px !important;
}

ion-avatar  {
    width:40px !important;
    height:40px !important;

    margin: 16px 6px ;
    margin-bottom: auto;
}

.item-big-size{
    h2 {
        color: var(--ion-color-dark);
        font-weight: 700;
    }
    
}

.filter-chip{
    font-size: 12px !important;
}