 ion-card {
    margin: 10px 5px;
}

ion-card-content  {
    padding: 0px 0px;
    margin: 6px 5px;
}

.item-list, .item-list-header, .item-list-footer{
    display: grid;
    grid-template-columns:0.4fr 3fr 1fr 1.5fr 1.5fr;
    font-size: 14px;
}

.item-list-header{
    border-top:1px solid var(--ion-color-light);
    border-bottom:1px solid var(--ion-color-light);
    background-color:var(--ion-color-success); 
    color: var(--ion-color-light); 
}
 .item-list-footer{
    border-top:1px solid var(--ion-color-light);
    border-bottom:1px solid var(--ion-color-light);
    background-color:var(--ion-color-success); 
    color: var(--ion-color-light); 
}

.odd-row{
    background-color:  var(--ion-color-light);
}

.order-detail{

    ion-label{
        margin:0px 0px;
        font-size: 12px !important;
    }

    ion-item{
        margin:0px 0px;
        padding:0px 0px;
        
    }

    ion-note{
        font-size: 14px;
        --color: var(--ion-color-secondary);
        
    }
    ion-icon{
        font-size: 15px !important;
    }
   
}

