ion-card {
    margin: 5px 0px !important;
    border-radius: 0px !important;
    border-color: var(--ion-color-light);
    
}

.item-name{
    font-size: .8rem !important;
    color: var(--ion-color-dark);
    line-height:140% !important;
    display: block !important;


    font-weight: 200 !important;
}

.item-price{
    margin: 1rem 0px;
    font-size: 1.1rem;
    font-weight: 700;
    color:black;
}

ion-card-header{
    padding: 10px 10px;
}



.card-content{
    display:grid;
    grid-template-columns: 120px auto;
}

app-img-loader{
    height: 150px;
    width:100px;
    padding:2px 2px;
    margin:0px 0px !important;
  
}

