/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Register fonts -------------------------------------------------------------
@font-face{
    font-family: "Cairo";
    src: url("./assets/Fonts/cairo/Cairo-regular.ttf") format("truetype");
}
// End register fonts ---------------------------------------------------------

// Custom global style --------------------------------------------------------
  *{
    font-family: Cairo, Verdana, Tahoma !important;
  }

 
  
  ion-card-title{
    font-size:18px ;
    //color:var(--ion-color-primary-shade);
  }
  
  ion-icon {
    font-size: 1.5rem !important; //Preferred size here
  }
  
  .toast-success{
    --background: var(--ion-color-success-tint);
    --border-color : var(--ion-color-success-shade);
  }

  .toast-danger{
    --background: var(--ion-color-danger-tint);
    --border-color : var(--ion-color-success-shade);
  }

  ion-img {
    object-fit: cover;
  }

  

  ion-item{
    ion-label{
    font-size: 14px !important;
    //--color: var(--ion-color-secondary-tint) !important;
    }

    ion-input, ion-select, ion-textarea{
      font-size: 15px !important;
     // --color: var(--ion-color-primary-shade) !important;
      font-weight: 600;
      :focus{
        //background-color:red !important;
        border: 1px solid var(--ion-color-primary-tint) !important;
      }
    }

    // ion-textarea{
    //   font-size: 14px !important;
    //   --color: var(--ion-color-primary-shade) !important;
    //   font-weight: 300;
    // }

  }
  

  
  
  // End Custom global stype ----------------------------------------------------