
.facebook-color{
    --background: #3b5998;
}

ion-card{
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    margin-right: .5rem;
    margin-left: .5rem;
}

ion-card-title {
    font-size: 20 !important;
    font-weight: 500 !important;
}

