<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-layout">

    <div class="header">
      <ion-segment color = "secondary" scrollable value="friends">
        <ion-segment-button value="friends">
          <ion-label>Friends</ion-label>
          <ion-icon name = "home"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="enemies">
           <ion-icon name = "home"></ion-icon>
          <ion-label>Enemies</ion-label>
        </ion-segment-button>
        <ion-segment-button value="friends2">
          <ion-label>Friends</ion-label>
          <ion-icon name = "home"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="enemies 4">
          <ion-icon name = "home"></ion-icon>
         <ion-label>Enemies</ion-label>
       </ion-segment-button>
       <ion-segment-button value="friends244">
         <ion-label>Friends</ion-label>
         <ion-icon name = "home"></ion-icon>
       </ion-segment-button>

      </ion-segment>
    </div>

    <div class="side-menu">
      <div *ngFor="let i of [1,2,7,8,6,6,6]" class="side-menu-item" 
           (click) = "selectSubCat(i)"
           [ngClass] = "selectedSubCat=== i?'selected-menu':'none'">
        <ion-img src="assets/images/place-holder.png"></ion-img>
        <ion-label>cloths {{i}}</ion-label>
      </div>
    </div>


    <!-- menu display section -->

    <div class="menu-content">
      <div *ngFor="let i of [1,2,3,4,4,6,7,8]" class="side-menu-item">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{i}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
  



</ion-content>
