<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-layout">

    <div class="header">
      <ion-segment color = "secondary" [value] = "selectedParentCat" scrollable="true" (ionChange) = "ParentCatClick($event)" >
        <ion-segment-button *ngFor="let p_cat of parentCat" [value]="p_cat.key">
          <ion-label>{{p_cat.name}}</ion-label>
          <ion-icon name = "home"></ion-icon>
        </ion-segment-button>

      </ion-segment>
    </div>

    <div class="side-menu">
      <div *ngFor="let m_cat of mainCat" class="side-menu-item" 
           (click) = "mainCatClick(m_cat)"
           [ngClass] = "selectedMainCat=== m_cat.key?'selected-menu':'none'">
        <ion-img src="assets/images/place-holder.png"></ion-img>
        <ion-label> {{m_cat.name}}</ion-label>
      </div>
    </div>


    <!-- menu display section -->

    <div class="menu-content">
      <div *ngFor="let s_cat of subCat" class="side-menu-item">
        <ion-card  button routerLink="shopping">
          <ion-card-header>
            <ion-card-title>{{s_cat.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
  



</ion-content>

