ion-card {
    margin: 5px 0px !important;
    border-radius: 0px !important;
    
}

.card-header{
    font-size: 15px !important;
}

.card-item{
    ion-img{
        width:100px;
        height:100px;
        border: 1px solid var(--ion-color-light);
        border-radius: 5px;
        overflow: hidden;
    }

    ion-card-content{
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
}

ion-card-subtitle {
        white-space:nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;

}

.content-img{
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 'overlay';
    grid-template-columns: 1fr;

    ion-img{
        grid-area: overlay;
    }
    ion-spinner{
        grid-area: overlay;
        --color: var(--ion-color-secondary);

    }
}