<ion-content>
  <!-- Empty cart section -->
  <div class="empty-cart" *ngIf="orders.length === 0">
    <ion-label>
      عربة المشتريات فارغة!
    </ion-label>
    <ion-button
      expand="full"
      [routerLink]="['/main/shopping-supplier', 'shopping']"
      >تسوق الان
    </ion-button>
  </div>

  <!-- orders section -->
  <ion-card *ngFor="let order of orders">
    <ion-card-content class="order-content">
      <!-- Supplier data -->
      <ion-card color="primary" class="supplier-section">
        <ion-card-header>
          <ion-card-title>
            {{ order.sup_id }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <!-- order items -->
      <ion-card color="" class="item-main-section">
        <ion-card-header>
          <ion-card-title>
            <ion-label>لقد قمت باختيار الاصناف الاتية</ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="order-content">
          <div class="item-content" *ngFor="let item of order.items">


            <ion-item routerLink="/main/shopping/item-detail/{{item.pro_id}}">
              <ion-label>{{ item.pro_name }}</ion-label>
            </ion-item>

            <div class="item-section">
              <div class="item-image">
                <app-img-loader
                  src="{{item.img}}"
                ></app-img-loader>
              </div>
              <div class="item-data">
                <ion-grid class="item-line">
                  <!-- heaer row -->
                  <ion-row class="row-header">
                    <ion-col size="3">
                      <ion-label class="row-h">كميه</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label class="row-h">سعر</ion-label>
                    </ion-col>
                    <ion-col size="5">
                      <ion-label class="row-h"> اجمالي</ion-label>
                    </ion-col>
                  </ion-row>
                  <!-- data row -->
                  <ion-row class="">
                    <ion-col size="3">
                      <ion-label class="item-qty">{{ item.qty }}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label class="item-price">{{
                        item.price | currency: " "
                      }}</ion-label>
                    </ion-col>
                    <ion-col size="5">
                      <ion-label class="item-total">{{
                        item.qty * item.price | currency: " "
                      }}</ion-label>
                    </ion-col>
                  </ion-row>

                  <ion-item lines="none">
                    <ion-button class="action-button"
                            slot="end"
                            color="primary"  fill="icon-only"
                            (click)="deleteItem(order, item)">
                            <ion-icon color="medium"  name="close-outline"></ion-icon>
                    </ion-button>
                  </ion-item>

                </ion-grid>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card color="primary" class="action-section">
        <ion-card-header>
          <ion-card-subtitle>
            اجمالي الفاتورة
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <!-- heaer row -->
          <ion-row class="row-header">
            <ion-col size="3">
              <ion-label class="row-h">عدد اصناف</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label class="row-h">كمية</ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-label class="row-h"> اجمالي القيمة</ion-label>
            </ion-col>
          </ion-row>
          <!-- data row -->
          <ion-row class="">
            <ion-col size="3">
              <ion-label class="order-qty">{{ order.count }}</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label class="order-qty">{{  order.qty }}</ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-label class="order-total">{{
                order.sum | currency: " "
              }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
