<ion-content>
  <!-- Empty cart section -->
  <div class="empty-cart" *ngIf="orders.length === 0">
    <ion-label>
      عربة المشتريات فارغة!
    </ion-label>
    <ion-button
      expand="full"
      [routerLink]="['/main/shopping-supplier', 'shopping']"
      >تسوق الان
    </ion-button>
  </div>

  <!-- orders section -->
  <ion-card *ngFor="let order of orders">
    <ion-card-content class="order-content">
      <!-- Supplier data -->
      <ion-card color="primary" class="supplier-section">
        <ion-card-header>
          <ion-card-title>
            {{ order.sup_id }}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <!-- order items -->
      <ion-card color="" class="item-main-section">
        <ion-card-header>
          <ion-card-title>
            <ion-label>items</ion-label>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="order-content">
          <div class="item-content" *ngFor="let item of order.items">
            <ion-row class="item-name">
              <ion-label>{{ item.pro_name }}</ion-label>
            </ion-row>

            <div class="item-section">
              <div class="item-image">
                <ion-img
                  src="https://eg.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/06/367581/1.jpg?0027"
                ></ion-img>
              </div>
              <div class="item-data">
                <ion-grid class="item-line">
                  <!-- heaer row -->
                  <ion-row class="row-header">
                    <ion-col size="3">
                      <ion-label class="row-h">كميه</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label class="row-h">سعر</ion-label>
                    </ion-col>
                    <ion-col size="5">
                      <ion-label class="row-h"> اجمالي</ion-label>
                    </ion-col>
                  </ion-row>
                  <!-- data row -->
                  <ion-row class="">
                    <ion-col size="3">
                      <ion-label class="item-qty">{{ item.qty }}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label class="item-price">{{
                        item.price | currency: " "
                      }}</ion-label>
                    </ion-col>
                    <ion-col size="5">
                      <ion-label class="item-total">{{
                        item.qty * item.price | currency: " "
                      }}</ion-label>
                    </ion-col>
                  </ion-row>

                  <ion-item lines="none">
                    <ion-button
                      slot="end"
                      color="light"
                      (click)="deleteItem(order, item)"
                    >
                      <ion-icon color="medium" name="close-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-grid>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card color="" class="action-section">
        <ion-card-header>
          <ion-card-title>
            total
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="item-line">
            <ion-row>
              <ion-col size="3">
                <ion-label class="item-qty">{{ order.count }}</ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-label class="item-price">{{
                  order.qty | currency: " "
                }}</ion-label>
              </ion-col>
              <ion-col size="5">
                <ion-label class="item-total">{{
                  order.sum | currency: " "
                }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
