.empty-cart{
    padding-top: 30vh;
    display: flex;
    justify-items: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    flex-direction: column;
    padding: auto 20px;

    ion-button{
        margin-top:30px;
        width:70vw;
    }
}


ion-card{ 
    margin: 5px 0px !important;
    padding: 5px 0px !important;
    border-radius: 0px !important;
    width:100% !important;
}

.order-content{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;

    padding: 5px 5px;

}

.item-content{
    width:100%;
    border: 1px solid var(--ion-color-primary);
    margin: 5px auto;
    border-radius: 5px;
    padding:5px 5px;
    overflow: hidden;
}
.row-header{
    ion-label{
        font-size:12px;
    }
}

.item-section{
    display:grid;
    grid-template-columns: 1fr 2fr;   

}


.item-line{
    .item-name{
        color:black;
        background-color: var(--ion-color-light);
        border-radius: 5px;
    }

    .item-qty, .item-price{
        font-size: 16px;;
    }
    .item-qty{
        color:black;
    }
    .item-price, .item-total{
        color:red
    }
}

