ion-card {
    margin: 5px 0px !important;
    border-radius: 0px !important;
    
}

.card-header{
    font-size: 15px !important;
}

.card-item{
    ion-card-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

ion-card-subtitle {
        white-space:nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;

}

app-img-loader{
    height: 100px;
    width:100px;
  
}

