<ion-header translucent="true">
  <ion-toolbar >
    <ion-title> بيانات الصنف </ion-title>

    <ion-buttons slot= "start">
      <ion-back-button text=" "  icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content  *ngIf="currentProduct" fullscreen="ture">
  
  <ion-card>
    <ion-card-content class = "card-content">
      <div class="image-section">
        <ion-slides  class="image-slider" [options] = "slideOpts" pager="true">
          <ion-slide *ngFor="let img of currentProduct.imgs" >
            <app-img-loader class = "content-img" [src]= "img"></app-img-loader>
          </ion-slide>
        </ion-slides>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

      </div>
      

      <div class="item-desc">
        <ion-note>رقم الصنف:<ion-label>{{currentProduct.code}}</ion-label></ion-note> 
        <ion-label class= "item-name"  >{{currentProduct.name}}</ion-label>
        <ion-note>{{currentProduct.desc}}</ion-note>
        <ion-text class="price">
          <ion-label class= "item-price" color="primary" >{{currentProduct.price |currency:" "}} </ion-label>
          <ion-note>جم</ion-note>
        </ion-text>

      </div>  
    </ion-card-content>
  </ion-card> 

  <!-- Colors/Sizes section  -->
  <ion-card class="color-size">
      <ion-card-content class="color-card-content" *ngIf="colors.length>0">
        <ion-chip *ngFor="let color of colors" 
                  color="{{color.key === selectedColor?'primary' : 'medium'}}"  
                  class="{{color.key === selectedColor?'color-szie-selected' : 'none'}}" 
                  (click) = "setSelectedColor(color.key)"
                  outline="false">
          <ion-avatar>
            <ion-img src="assets/colors/{{color.image}}.svg"></ion-img>
          </ion-avatar>
          <ion-label >{{color.name}}</ion-label>
          <!-- <ion-icon name="checkmark-circle" *ngIf="color.key === selectedColor"></ion-icon> -->
        </ion-chip>
    </ion-card-content>
    
    <ion-card-content class="size-card-content" *ngIf="sizes.length>0">
      <ion-chip *ngFor="let size of sizes" 
                color="{{size.key === selectedSize?'primary' : 'medium'}}"  
                class="{{size.key === selectedSize?'color-szie-selected' : 'none'}}"  
                (click) = "setSelectedSize(size.key)"
                outline="false">
        <ion-label >{{size.name}}</ion-label>
        <!-- <ion-icon name="checkmark-circle" *ngIf="size.key === selectedSize"></ion-icon> -->
      </ion-chip>
    </ion-card-content>
  </ion-card>
  
  <!-- Add to card section  -->
  <ion-card color="light">
    <ion-card-content class = "add-to-card">
      
      <div class="add-quantity">
          <ion-button color="medium" fill="full" (click)= "updatedAmount(1)"><ion-icon name="add-outline"></ion-icon></ion-button>
          <ion-label color="primary"> {{amount}}</ion-label>
          <ion-button  color="medium"  fill="full" (click)= "updatedAmount(-1)"><ion-icon name="remove-outline"></ion-icon></ion-button>
      </div>
      <div class="add-button">
        <ion-button expand="block"  (click) = "addToCart()" > اضف الي عربة المشتريات</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>