ion-card {
    margin: 5px 0px !important;
    border-radius: 0px !important;
    
}

.item-name{
    font-size: 1rem !important;
    color: var(--ion-color-dark);
    line-height:140% !important;
    display: block !important;
    font-weight: 200 !important;

}

.item-price{
    font-size: 20px;
    font-weight: 700;
    color:black;
}

.item-desc{
    display: grid;
    padding: 5px 20px;
    grid-template-columns: 1fr;
    width:100%;
    padding-bottom: 20px;;


}

ion-note{
    font-size: .8rem !important;
    color: var(--ion-color-dark);

}


.card-content{
    padding: 0px 0px !important;
    display: grid !important;
    align-items: center !important;
    justify-items: center !important;
    grid-template-columns: 1fr ;
    width:100%;
}

.image-section{
    height: 350px;
    width:90vw;

    .image-slider{
        height: inherit;
        width: inherit;
    }
}
app-img-loader{
    width:100%;
    height: 100%;
    padding:2px 2px;
    margin:0px 0px !important;
  
}

.add-to-card{
    display: grid;
    grid-template-columns:  1fr 1fr;
    align-items: center !important;
    justify-items: center !important;
    padding: 5px 5px;
}

.add-quantity{
    padding-left: 20px;
    display: grid;
    align-items: center !important;
    justify-items: center !important;
    grid-template-columns: 1fr 1fr 1fr;
    ion-button{
        height:40px;

        ion-icon{
           // font-size: 70px !important;
           margin:0px 0px !important;
        }
    }
    ion-label  {
        border:1px solid var(--ion-color-light);
        border-radius: 2px;
        font-size: 1.5rem;
        text-align: center !important;
        height:35px;
        width:100%;
    }
}

.add-button{
    width:100%;
    ion-button{
        height:40px;
    }
    
}

.color-card-content, .size-card-content{
    padding: 1px 1px !important;
    display:grid;


  }
  
  .color-card-content{
    grid-template-columns: 1.2fr 1fr 1fr;
    border-bottom: 1px solid var(--ion-color-light);
  }
  
  .size-card-content{
    grid-template-columns: 1.2fr 1fr 1fr 1fr ;
    border-top: 1px solid var(--ion-color-light);
  }

  .color-size{
      display: grid;
      grid-template-columns: 1fr;
  }

  ion-chip{
    font-size:13px !important;
    ion-label{
      padding: 2px 2px !important;
    }
  }