ion-col{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--ion-color-light-shade);
    background-color: var(--ion-color-light);
    font-size: 14px;
}



ion-radio{
    border:3px solid !important;
    width: 30px !important;
    height: 30px !important;
    border-color: var(--ion-color-secondary) !important;
    border-radius:50% !important;
}

.business-cat, .business-type{
    border:1px solid;
    padding: 5px 5px;
    border-radius: 5px;
    margin:5px 5px;
    border-color: var(--ion-color-light-shade);
}

 .business-type{
  
    background-color: var(--ion-color-light-tint);
}