<ion-header>
  <ion-toolbar color="primary">
    <ion-title>تسجيل بياناتك</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user && dataLoaded">
    <!--Personal Info -->
    <ion-card>
     
      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "person-sharp"  slot = "end" color = "primary"></ion-icon>
             بياناتك الشخصية
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <form >
  
          <ion-list lines="none" > 
            <ion-item>
              <ion-label position="floating">الاسم</ion-label>
              <ion-input [(ngModel)]="user.name"  clearInput="true" name="name"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" > موبيل</ion-label>
              <ion-input [(ngModel)]="user.mob" clearInput name="mob" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" > تليفونات اخري</ion-label>
              <ion-input [(ngModel)]="user.tel_o"  clearInput name="tel_o" ></ion-input>
            </ion-item>

          </ion-list>
          
          
         
          <br>
          <ion-button  expand = "block" color="secondary" fill="outline" (click)="saveUser()">
            <ion-icon slot="end" name = "save-outline" ></ion-icon>
            حفظ بياناتك الشخصية
          </ion-button>
      
  
        </form>
  
      </ion-card-content>
    </ion-card>
    <!-- End personal info -->

    <!--Address Data -->
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "home"  slot = "end" color = "primary"></ion-icon>
             عنوان العمل
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <form>
  
          <ion-list lines="none" > 
            <ion-item>
              <ion-label position = "floating">المحافظه</ion-label>
              <ion-select  name = "gov"  [(ngModel)] = "user.gov"  
                           placeholder="اختار المحافظة" okText="موافق" cancelText="الغاء"
                           (ionChange)="getSelectedCities(user.gov)"
                           >
                <ion-select-option  *ngFor="let gov of governates" value = "{{gov.key}}">{{gov.name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position = "floating">المدينة</ion-label>
              <ion-select name = "cty"  [(ngModel)] = "user.cty"  placeholder="اختار المدينة" okText="موافق" cancelText="الغاء">
                <ion-select-option  *ngFor="let city of selectedCities"  value="{{city.key}}">{{city.name}}</ion-select-option>
              </ion-select>
            </ion-item>
     
         

            <ion-item>
              <ion-label position="floating" >العنوان</ion-label>
              <ion-input [(ngModel)]="user.addr" name="addr" clearInput ></ion-input>
            </ion-item>

          </ion-list>
          
          
         
          <br>
          <ion-button  expand = "block" color="secondary" fill="outline" (click) = "saveUser()">
            <ion-icon slot="end" name = "save-outline" ></ion-icon>
            حفظ العنوان
          </ion-button>
      
  
        </form>
  
      </ion-card-content>
    </ion-card>
    <!-- End Address data -->

     <!--Geolocation Data -->
     <ion-card>

      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "location"  slot = "end" color = "primary"></ion-icon>
            عنوانك الجفرافي
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <form>
  
          <ion-list lines="none" > 


            <ion-item>
              <ion-button (click) = "getLocation()">
                <ion-icon name="location"></ion-icon>
                تحديد موقعي
              </ion-button>
              <ion-label position="floating" >موقعك علي الخريطة</ion-label>

              <div id="map">
              </div>

            </ion-item>

          </ion-list>
          
          
         
          <br>
          <ion-button  expand = "block" color="secondary" fill="outline" (click) = "saveUser()">
            <ion-icon slot="end" name = "save-outline" ></ion-icon>
            حفظ العنوان
          </ion-button>
      
  
        </form>
  
      </ion-card-content>
    </ion-card>
    <!-- End Geolocation data -->

    <!--Business type -->
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "business"  slot = "end" color = "primary"></ion-icon>
             طبيعة العمل
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <form>
            <div class="business-type">
              <ion-label>نوع العمل</ion-label>
              <ion-radio-group [(ngModel)]="user.bus_type" name="bus_type" >
                <ion-grid>
                  <!-- header row -->
                  <ion-row class="row-title">
                    <ion-col size="3" *ngFor = "let business of businessType">
                        <ion-label>{{business.name}}</ion-label>
                    </ion-col>
                  </ion-row>
                  <!-- data row -->
                  <ion-row class="row-data">
                    <ion-col size="3" *ngFor = "let business of businessType">
                        <ion-radio value="{{business.key}}"></ion-radio>
                    </ion-col>
                  
                  </ion-row>

                </ion-grid>
              </ion-radio-group>
            </div>
            
            <div class="business-cat">
              <ion-label>نوع النشاط</ion-label>
              <!-- Toggles in a List -->
              <ion-list>
                <ion-item *ngFor="let cat of parentCat">
                  <ion-label>{{cat.name}}</ion-label>
                  <ion-toggle color="secondary" [checked]="setToggalCheck(cat.key)" value="{{cat.key}}"  (ionChange)="addBusinessSection($event,cat.key)"></ion-toggle>
                </ion-item>
                
              </ion-list>
            </div>
                    
            <br>
            <ion-button  expand = "block" color="secondary" fill="outline" (click) = "saveUser()" >
              <ion-icon slot="end" name = "save-outline" ></ion-icon>
              حفظ النشاط
            </ion-button>
        
  
        </form>
        

      </ion-card-content>
    </ion-card>
    <!-- End business type -->


</ion-content>
