<ion-header>
  <ion-toolbar color="primary">
    <ion-title>تسجيل بياناتك</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--Personal Info -->
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "person-sharp"  slot = "end" color = "primary"></ion-icon>
             بياناتك الشخصية
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <form>
  
          <ion-list lines="none" > 
            <ion-item>
              <ion-label position="floating">الاسم</ion-label>
              <ion-input   clearInput="true"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" > موبيل</ion-label>
              <ion-input  clearInput ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" > تليفونات اخري</ion-label>
              <ion-input  clearInput ></ion-input>
            </ion-item>

          </ion-list>
          
          
         
          <br>
          <ion-button  expand = "block" color="secondary" fill="outline">
            <ion-icon slot="end" name = "save-outline" ></ion-icon>
            حفظ بياناتك الشخصية
          </ion-button>
      
  
        </form>
  
      </ion-card-content>
    </ion-card>
    <!-- End personal info -->

    <!--Address Data -->
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "home"  slot = "end" color = "primary"></ion-icon>
             عنوان العمل
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <form>
  
          <ion-list lines="none" > 
            <ion-item>
              <ion-label position="floating">المحافظه</ion-label>
              <ion-input   clearInput="true"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating" > المدينة</ion-label>
              <ion-input  clearInput ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" >العنوان</ion-label>
              <ion-input  clearInput ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" >موقعك علي الخريطة</ion-label>
              <ion-input  clearInput ></ion-input>
            </ion-item>

          </ion-list>
          
          
         
          <br>
          <ion-button  expand = "block" color="secondary" fill="outline">
            <ion-icon slot="end" name = "save-outline" ></ion-icon>
            حفظ العنوان
          </ion-button>
      
  
        </form>
  
      </ion-card-content>
    </ion-card>
    <!-- End Address data -->

    <!--Business type -->
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          <ion-label>
            <ion-icon name = "business"  slot = "end" color = "primary"></ion-icon>
             طبيعة العمل
          </ion-label> 
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <form>
  

            <ion-label>طبيعة العمل</ion-label>

            <ion-radio-group value="biff">
              <ion-grid>
                <ion-row class="row-title">
                  <ion-col size="3">
                      <ion-label>محل</ion-label>
                  </ion-col>
                  <ion-col size="3">
                      <ion-label>تاجر جملة</ion-label>
                  </ion-col>
                  <ion-col size="3">
                      <ion-label>مصنع</ion-label>
                  </ion-col>
                  <ion-col size="3">
                      <ion-label>فردي</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="row-data">
                  <ion-col size="3">
                      <ion-radio value="biff"></ion-radio>
                  </ion-col>
                  <ion-col size="3">
                      <ion-radio value="griff"></ion-radio>
                  </ion-col>
                  <ion-col size="3">
                        <ion-radio value="buford"></ion-radio>
                  </ion-col>
                  <ion-col size="3">
                      <ion-radio value="bufoيrd"></ion-radio>
                  </ion-col>
                </ion-row>

              </ion-grid>

            </ion-radio-group>
      
      
  
        </form>
  
      </ion-card-content>
    </ion-card>
    <!-- End business type -->


</ion-content>
