<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="shopping">
      <ion-icon name="home"></ion-icon>
      <ion-label>تسوق</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
        <ion-icon name="cart"></ion-icon>
        <ion-badge  class="cart-count" *ngIf="this.cartService.items_count>0">{{this.cartService.items_count}}</ion-badge>
        <ion-label>عربة مشتريات</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="order">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>طلبياتك</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin">
      <ion-icon name="person"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
