
  <ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button routerLink="action-sheet">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>ActionSheet</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="card">
        <ion-icon name="card"></ion-icon>
        <ion-label>Card</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="chip" >
        <ion-icon name="archive-outline"></ion-icon>
        <ion-label>Chip</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="date" >
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Date</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="fab" >
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>FAB</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="inputs" >
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>Inputs</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>

</ion-content>
