<ion-header>

  <ion-toolbar color=" ">
    <ion-title>بيانات الطلب  </ion-title>

    <ion-buttons slot= "start">
      <ion-back-button text=" "  icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content>
  <!-- identity information (customer or supplier) -->
  <ion-card >

    <ion-card-header no-padding >
      <ion-card-subtitle >
        <ion-label>
         طلب من العميل 
        </ion-label>
      </ion-card-subtitle>
      <ion-card-title color="primary">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>
            {{order.sup_name}}
          </ion-label>
      </ion-card-title>
    </ion-card-header>  


    <ion-card-content >

       
       
    </ion-card-content>
  </ion-card>


  <!-- Order summary -->
  <ion-card >

    <ion-card-header no-padding >
      <ion-card-subtitle >
        <ion-label>
          اجملي الطلب 
        </ion-label>
      </ion-card-subtitle>
    </ion-card-header>  


    <ion-card-content >

        <div class="order-detail" color="primary"> 
          <ion-list   lines="insite">

            <ion-item   >
              <ion-icon name="cash-outline"  ></ion-icon>
              <ion-label> اجمالي الطلب 
              </ion-label> 
              <ion-note >  {{order.sum | currency:" "}}</ion-note>
            </ion-item>

            <ion-item   >
              <ion-icon name="calendar-outline"  ></ion-icon>
              <ion-label> تاريخ الطلب </ion-label> 
              <ion-note dir="ltr">  {{order.cdate   | date:"short" }}</ion-note>
            </ion-item>

            <ion-item    >
              <ion-icon name="help-circle-outline"  ></ion-icon>
              <ion-label> حاله الطلب </ion-label> 
              <ion-note dir="ltr"> جديد</ion-note>        
            </ion-item>

          </ion-list>
      
        </div>
       
    </ion-card-content>
  </ion-card>

  <!-- items list -->
  <ion-card >

    <ion-card-header no-padding >
      <ion-card-subtitle >
        <ion-label>
          الاصناف اللي في الطلب
        </ion-label>
      </ion-card-subtitle>
    </ion-card-header>  

    <ion-card-content >

        <div *ngIf="items.length>0">
  
          <div class="item-list-header" >
            <div >#</div>
            <div >الصنف</div>
            <div >كمية</div>
            <div >سعر</div>
            <div >اجمالي</div>
          </div>

          <div class="item-list" *ngFor="let item of items; let seq = index; " [ngClass]="0=== seq%2?'odd-row':'none'">
            <div >{{seq+1}}</div>
            <div >{{item.pro_name}}</div>
            <div >{{item.qty }}</div>
            <div >{{item.price | currency:" "}}</div>
            <div >{{item.price * item.qty | currency: " "}}</div>
          </div>

          <div class="item-list-footer" >
            <div ></div>
            <div >{{order.count}}</div>
            <div >{{order.qty}} </div>
            <div > </div>
            <div > {{order.sum | currency:" "}}</div>
          </div>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>